---
const navItems = [
  { href: '/', text: 'Inicio' },
  { href: '/pokemons/1/', text: 'Pokemons' },
  { href: '/favoritos/', text: 'Favoritos' }
]

const currentPath = Astro.url.pathname

console.log(currentPath)
---

<nav class='bg-white shadow dark:bg-slate-800'>
  <div
    class='container flex items-center justify-center p-4 mx-auto text-gray-600 capitalize dark:text-gray-300'
  >
    {
      navItems.map(({ href, text }) => (
        <div>
          <a
            href={href}
            class='text-gray-800 dark:text-gray-200 mx-6'
          >
            {text}
          </a>
          {currentPath === href ? (
            <div
              transition:name='nav-line'
              class='mt-1 border-b-2 border-indigo-500 mx-5'
            />
          ) : (
            <div class='mt-1 border-b-2 border-transparent mx-5' />
          )}
        </div>
      ))
    }
  </div>
</nav>
