---
import PokemonCard from '@components/PokemonCard.astro'
import MainLayout from '@layouts/MainLayout.astro'

const API_URL = 'https://pokeapi.co/api/v2/pokemon'

const response = await fetch(API_URL)
const data = (await response.json()) as PokemonListResponse

const { results } = data
---

<MainLayout title='Pokemon Static App'>
  <section>
    <a
      class='m-auto text-2xl py-4 block text-center text-blue-400'
      href='/pokemons/1'
      >Ver todos los pokemons</a
    >
    <ul
      aria-label='Pokemon listado'
      class='grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4'
    >
      {
        results.map(({ name, url }) => (
          <PokemonCard
            name={name}
            url={url}
          />
        ))
      }
    </ul>
  </section>
</MainLayout>
