---
import PokemonCard from '../components/PokemonCard.astro'
import MainLayout from '../layouts/MainLayout.astro'

const API_URL = 'https://pokeapi.co/api/v2/pokemon'

const response = await fetch(API_URL)
const data = (await response.json()) as PokemonListResponse

const { count, next, previous, results } = data
---

<MainLayout title='Pokemon Static App'>
  <section>
    <h2 class='text-2xl font-bold mb-8 text-center'>
      Elige tu Pokemon favorito!
    </h2>
    <ul
      aria-label='Pokemon listado'
      class='grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4'
    >
      {
        results.map(({ name, url }) => (
          <PokemonCard
            name={name}
            url={url}
          />
        ))
      }
    </ul>
  </section>
</MainLayout>
